/*
    PALLET USED: https://coolors.co/palette/2b2d42-8d99ae-edf2f4-ef233c-d90429

*/

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{
    background-color: #8D99AE;
    font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;

}

a{
    text-decoration: none;
}

.custominput{
    padding: 5px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.backbutton{
    position: absolute;
    left: 30px;
    top: 20px;
    padding: 8px 10px 8px 9px;
    border: 1px solid #2B2D42;
    border-radius: 5px;
    transition: 0.2s;
}

.backbutton:hover{
    background-color: #2B2D42;
    color: #EDF2F4;
    scale: 115%;
}

.backbutton:active{
    scale: 50%;
}

.center{
    display: flex;
    justify-content: center;
}

.mytitle{
    margin: 20px 0;
    background-color: #EDF2F4;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: .1s;
}

.mytitle:hover{
    scale: 105%;
}
